.contact-form {
    .input-area {
        input, textarea {
            width: 100%;
            background: #FFFFFF;
            border: 1px solid #D2D2D2;
            border-radius: 5px;
            padding: 20px 22px;

            font-family: $font-roboto;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #8F8F8F;
            &::placeholder {
                color: #8F8F8F;
            }
        }
    }
    button {
        font-family: $font-roboto;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        background: #15C590;
        color: $color-white;
        border-radius: 500px;
        display: inline-block;
        border: none;
        width: 180px;
        padding: 19px 30px;
        margin-left: 16px;
    }
}