.tab-nav-wrapper {
    background: $color-white;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding: 64px 123px 88px 62px;
    .title {
        font-family: $font-roboto;
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        color: $color-title;
        margin-bottom: 15px;
    }
    .nav {
        .nav-link {
            background: transparent;
            font-family: $font-roboto;
            font-weight: 500;
            font-size: 20px;
            line-height: 50px;
            color: $color-title;
            text-align: left;
            padding: 0;
            border-radius: 0;
            position: relative;
            @include transition;
            text-decoration: underline;
            text-decoration-color: rgba(21, 197, 144, 0);
            &:hover {
                text-decoration: underline;
                text-decoration-color: rgba(21, 197, 144, 1);
                text-decoration-thickness: 1px;
                color: #15C590;
            }
        }
    }
}



