.single-post {
    background: #FAFAFF;
    padding: 30px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #E7E7E7;
    @include transition;
    &:last-child {
        border-bottom: none;
    }
    &:hover {
        background: $color-white;
    }

    .title-content {
        gap: 20px;
        .icon {
            width: 70px;
            height: 70px;
            background: #FFF2F2;
        }
        .title-area {
            flex: 1;
            .title {
                margin-bottom: 4px;
                .title-link {
                    font-family: $font-roboto;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 23px;
                    color: $color-title;
                    &:hover {
                        color: $color-shade25;
                    }
                }
            }
        }
    }
    .post-info-wrapper {
        column-gap: 63px;
        row-gap: 25px;
    }
}




.community-posts-section {
    .community-posts-wrapper {
        border: 1px solid #E7E7E7;
        border-radius: 10px;
        overflow: hidden;
    }
}