.single-post {
    background: #FAFAFF;
    padding: 30px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #E7E7E7;
    @include transition;
    &:last-child {
        border-bottom: none;
    }
    &:hover {
        background: $color-white;
        @include transition;
        .title-content {
            .icon {
                // background: #fa7575;
                svg {
                    path {
                        stroke: white;
                        @include transition;
                    }
                }
                &::before {
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }
        }
    }

    .title-content {
        gap: 20px;
        .icon {
            width: 70px;
            height: 70px;
            background: #FFF2F2;
            @include transition;
            position: relative;
            overflow: hidden;
            z-index: 0;
            &::before {
                content: "";
                position: absolute;
                height: 0;
                width: 0;
                bottom: 0;
                background: #fc6464;
                border-radius: 50px;
                @include transition;
            }

        }
        .title-area {
            flex: 1;
            .title {
                margin-bottom: 4px;
                .title-link {
                    font-family: $font-roboto;
                    font-weight: 500;
                    @include toRem(font-size, 20);
                    line-height: 23px;
                    color: $color-title;
                    &:hover {
                        color: $color-shade25;
                    }
                }
            }
        }
    }
    .post-info-wrapper {
        column-gap: 63px;
        row-gap: 25px;
    }
}




.community-posts-section {
    .community-posts-wrapper {
        border: 1px solid #E7E7E7;
        border-radius: 10px;
        overflow: hidden;
    }
}