.post-table {
    overflow-x: auto;
    @include media-only("md", min) {
        overflow-x: unset;
    }
    table, th, td {
        // border: 1px solid #000;
        
    }
    table {
        width: 100%;
        border: 1px solid #F4F4F4;
        
        tbody {
            tr {
                border-bottom: 1px solid #F4F4F4;
                &:nth-child(2n+1) {
                    background: #FAFAFA;
                }
                th {
                    background: #F9FBFD;
                    border-top: 2px solid #0289FF;
                    border-bottom: 1px solid #F4F4F4;
    
                    font-family: $font-roboto;
                    font-weight: 500;
                    @include toRem(font-size, 18);
                    line-height: 21px;
                    color: $color-title;
                    &:first-child {
                        padding: 10px 15px 10px 50px;
                    }
                    &:last-child {
                        padding: 10px 15px 10px 45px;
                    }
                }
                td {
                    vertical-align: top;
                    .title-area {
                        gap: 5px;
                        margin-bottom: 6px;
                        // background: $color-white;
                        .post-title {
                            font-family: $font-roboto;
                            font-weight: 500;
                            @include toRem(font-size, 16);
                            line-height: 19px;
                        }
                        
                    }
                    .meta-list {
                        gap: 15px;
                        .meta-data {
                            .post-author {
                                gap: 5px;
                                .name {
                                    font-family: $font-roboto;
                                    font-weight: 400;
                                    @include toRem(font-size, 12);
                                    line-height: 14px;
                                    color: $color-title;
                                }
                            }
                            span {
                                font-family: $font-roboto;
                                font-weight: 400;
                                @include toRem(font-size, 12);
                                line-height: 14px;
                                color: $color-title;
                            }
                            .tag {
                                background: #F2F9FF;
                                border-radius: 2px;
                                padding: 4px;
                                font-family: $font-roboto;
                                font-weight: 400;
                                @include toRem(font-size, 10);
                                line-height: 12px;
                                color: #0289FF;
                            }
                        }
                    }
                    .count {
                        font-family: $font-roboto;
                        font-weight: 400;
                        @include toRem(font-size, 15);
                        line-height: 18px;
                        color: $color-title;
                    }
                    .last-post {
                        font-family: $font-roboto;
                        font-weight: 400;
                        @include toRem(font-size, 12);
                        line-height: 14px;
                        color: #4E4F50;
                        margin-bottom: 9px
                    }
                    .author-name {
                        @extend .last-post;
                    }

                    &:nth-child(1) {
                        padding: 15px 15px 15px 50px;
                        width: 60%;
                    }
                    &:nth-child(2) {
                        width: 8%;
                        padding: 15px;
                    }
                    &:nth-child(3) {
                        width: 8%;
                        padding: 15px;
                    }
                    &:nth-child(4) {
                        width: 20%;
                        padding: 15px 15px 15px 45px;
                    }
                }
            }
        }   
    }
}