.stickyx {
    position: -webkit-sticky;
    position: sticky;
    top: 115px;
}
.single-element-section {
    overflow: unset;
}
.sidebar-nav {
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 30px;
    nav {
        ul.parent-item-list {
            .nav-item {
                background: #F9F9F9;
                margin: 0 0 20px;
                cursor: pointer;
                .nav-link {
                    position: relative;
                    gap: 5px;
                    font-family: $font-roboto;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 23px;
                    color: $color-title;
                    padding: 10px 20px;
                    .icon {
                        width: 30px;
                        height: 30px;
                        background: #6C62CA;
                        border-radius: 0px 50px 50px 50px;
                    }
                    .arrow {
                        position: absolute;
                        right: 20px;
                    }
                    &.active {
                        color: pink;
                    }
                }
                .dropdown_nav {
                    background: $color-white;
                    padding: 6px 0 2px 50px;
                    padding-top: 6px;
                    padding-bottom: 22px;
                    padding-left: 50px;
                    display: none;
                    @include transition;
                    .nav-item {
                        background: 0 0;
                        margin: 0;
                        padding: 0;
                        position: relative;
                        
                        .nav-link { 
                            font-family: $font-roboto;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 50px;
                            color: #6B707F;
                            padding: 0 0 0 0;
                            border-bottom: 1px solid #E4E4E4;
                            position: relative;

                            &.active {
                                color: $color-secondary;
                                .progress-indicator {
                                    position: absolute;
                                    background: $color-secondary;
                                    width: 0;
                                    height: 1px;
                                    bottom: 0;
                                    left: 0;
                                    z-index: 1;
                                }
                            }
                        }
                    }
                }
                &:nth-child(1) {
                    .nav-link {
                        .icon {
                            background: #6C62CA;
                        }
                    }
                }
                &:nth-child(2) {
                    .nav-link {
                        .icon {
                            background: #FF8631;
                        }
                    }
                }
                &:nth-child(3) {
                    .nav-link {
                        .icon {
                            background: #FD5B5B;
                        }
                    }
                }
                &.active {
                    .dropdown_nav {
                        display: block;
                        @include transition;
                    }
                    .nav-link {
                        // color: red;
                    }
                }
            }
        }
    }
}