.comment-section {
    .comment-area-wrapper {
        margin-bottom: 80px;
    }
    .title {
        font-family: $font-roboto;
        font-weight: 700;
        @include toRem(font-size, 22);
        line-height: 26px;
        color: $color-title;
        margin-bottom: 30px;
    }
    .comment-reply {
        margin-left: 45px;
    }
    .comment-wrapper {
        gap: 18px;
        margin-bottom: 41px;
        &:last-child {
            margin-bottom: 0;
        }

        .comment-content {
            flex: 1;
            .comment-content-top {
                margin-bottom: 22px;
                .commentor-info {
                    .commentor-name {
                        font-family: $font-roboto;
                        font-weight: 500;
                        @include toRem(font-size, 18);
                        line-height: 21px;
                        color: $color-title;
                        margin-bottom: 5px;
                        &:hover {
                            color: $color-secondary;
                        }
                    }
                    .comment-meta {
                        span {
                            font-family: $font-roboto;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 18px;
                            color: #6B707F;
                        }
                    }
                    .comment {
                        p {
                            font-family: 'Hind';
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 26px;
                            color: #4F536C;
                        }
                        margin-bottom: 12px;
                    }
                }
                .reply-btn {
                    font-family: $color-title;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 30px;
                    color: $color-title;
                    gap: 7px;
                    &:hover {
                        color: $color-secondary;
                        svg {
                            fill: $color-secondary;
                            @include transition;
                        }
                    }
                }

            }
        }
    }
}