
.searchbox-container {

    width: 100%;
    @include media-only('md', min) {
        width: 786px;
    } 

    padding: 17px 22px 17px 30px ;
    background: $color-white;
    border-radius: 100px;
    gap: 33px;
    margin: 0 auto;
    .category-selector {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 31px;
            left: 5px;
            top: 5px;
            background: #D9D9D9;
        }
        .nice-select {
            span {
                font-family: $font-roboto;
                font-weight: 500;
                @include toRem(font-size, 15);
                line-height: 18px;
                color: #1D2746;
            }
            .list {
                left: 10px;
            }
        }
    }
    .searchbox-textfield {
        width: 50%;
        .searchbox-input {
            border: none;
            background: $color-white;
            width: 100%;
            position: relative;
            &::placeholder {
                font-family: $font-roboto;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #8D8D8D;
            }
            &::before {
                // content: url("../images/searchbox/search-icon.svg");
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                left: 216px;
                top: 10px;
                background: red;
            }
        }
    }
    .searchbox-submit {
        .rt-searchbox-btn {
            font-family: $font-roboto;
            background: $color-secondary;
            font-weight: 500;
            @include toRem(font-size, 20);
            line-height: 23px;
            text-transform: capitalize;
            color: $color-white;
            border: none;
            padding: 11px 29px;
            border-radius: 50px;
            gap: 8px;
        }
    }
    &--style-1 {

    }

    &--style-2 {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
        .searchbox-submit {
            .rt-searchbox-btn {
                background: $color-shade24;
            }
        }
    }

    &--style-3 {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
        .searchbox-submit {
            .rt-searchbox-btn {
                background: $color-shade25;
            }
        }
    }
    &--style-3 {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
        .searchbox-submit {
            .rt-searchbox-btn {
                background: #0289FF;
                padding: 13px 29px;
                font-size: 16px;
                line-height: 19px;
                text-transform: uppercase;
            }
        }
    }
}