.widget-forum {
    margin-bottom: 50px;
    ul {
        li {
            font-family: $font-roboto;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #6B707F;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #D9D9D9;
            position: relative;
            @include transition;
            cursor: pointer;
            &:after {
                content: '';
                position: absolute;
                border-bottom: 1px solid $color-secondary;
                left: 0;
                bottom: 0;
                @include transition;
                width: 0;
            }
            &:hover {
                color: $color-secondary;
                &:after {
                    width: 100%;
                }
            }
        }
    }
}