.testimonial-section {
    overflow: hidden;
    &--style-1 {
        .swiper {
            padding-bottom: 120px;   
        }
    }
    &--style-2 {
        margin-top: 70px;
        padding-top: 50px;
        padding-bottom: 50px;
        background: #fafafa;
        @include media-only('md', min) {
            padding: 0;
        }
        @include media-from-to(1200px, min, 1400px, max) {
            padding-top: 50px;
        }
        @include media-only('lg', min) {
            padding-bottom: 0;
            padding-top: 100px;
        }
        .testimonial-item {
            // margin-bottom: 170px;
            // margin-top: 25px;
            @include media-only ('md', min) {
                padding: 35px;
                margin: 50px 0;
            } 
            @include media-only ('lg', min) {
                margin-top: 30px;
                padding: 69px 85px;
            }
            @include media-from-to(1200px, min, 1400px, max) {
                padding: 50px 65px;
            }
        }
        .testimonial-img-area {
            position: relative;
            z-index: 1;
            // padding-top: 60px;
            img {
                height: 100%;
                @include media-only ('md', min) {
                   height: 505px;
                }
                @include media-only(1200px, min) {
                    height: 580px;
                }
                @include media-only(1400px, min) {
                    height: 662px;
                }
            }
            &::before {
                content: "";
                position: absolute;
                // width: 560px;
                // height: 560px;
                background: #FFE7E7;
                border-radius: 50%;
                z-index: -1;
                margin: 0 auto;
                display: inline-block;
                left: 0;
                right: 0;
                bottom: -110px;
                // display: none;
                @include transition;
                width: 460px;
                height: 460px;
                @include media-only(1200px, min) {
                    width: 560px;
                    height: 560px;
                }

                @include media-only("lg", min) {
                    display: block;
                }
                
            }
            &:hover {
                &::before {
                    background: #f7b7b7;
                }
            }
        }
        .slider-navigation-btn-wrapper {
            .swiper-arrow {
                width: 40px;
                height: 40px;
                background: #F1F1F1;
                border: none;
                &:hover {
                    background: #F8851C;
                    svg {
                        fill:  $color-white;
                    }
                }
            }
            .prev {
                top: 84%;
                left: 72%;
                @include media-from-to(1200px, min, 1400px, max) {
                    top: 88%;
                    left: 70%;
                }
            }
            .next {
                top: 84%;
                right: 21%;
                @include media-from-to(1200px, min, 1400px, max) {
                    top: 88%;
                    right: 19%;
                }
            }
        }
    }
}