.forum-section {
    margin-bottom: 120px;
    .forum-layout {
        .forum-status-wrapper {
            .forum-status {
                background: #F8F8FF;
                border-radius: 20px;
                padding: 60px 126px;
                .icon {
                    margin-bottom: 28px;
                }
                .title {
                    font-family: $font-roboto;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 35px;
                    color: $color-title;
                    margin-bottom: 10px;
                }
                .para-text {
                    font-style: italic;
                    font-size: 18px;
                    line-height: 21px;
                    color: #7A7B7C;
                }
                margin-bottom: 24px;
            }
        }
        
        .forum-schedule {
            padding: 63px 30px;
            background: #FEFFE0;
            border-radius: 10px;
            .title {
                font-family: $font-roboto;
                font-weight: 500;
                font-size: 30px;
                line-height: 35px;
                color: $color-title;
                margin-bottom: 15px;
            }
            .para-text {
                font-size: 18px;
                line-height: 34px;
                color: $color-title;
            }
        }
    }
}