
.rt-hero-section {
    padding: 210px 0 154px 0;
    position: relative;
    overflow: hidden;
    z-index: 0;
    &-content-wrapper {
        padding: 70px 0;
        @include media-only('lg', min) {
            padding: 0;
        }
        .section-text-content {
            .section-name {
                color: $color-shade1;
                margin-bottom: 4px;
            }
            .section-heading {
                font-family: $font-lato;
                font-weight: 500;
                font-size: 50px;
                line-height: 60px;
                text-align: center;
                color: $color-white;
                margin-bottom: 8px;
                font-style: normal;
                border: none;
                padding: 0;
            }
            .para-text {
                font-family: $font-lato;
                font-weight: 300;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: $color-white;
                margin-bottom: 30px;
            }
        }
        .searchbox-container { 
            margin-bottom: 15px;
        }
        .search-text {
            padding-left: 50px;
            p {
                font-family: $font-roboto;
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                color: $color-white;
                span {
                    font-family: $font-roboto;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 23px;
                    color: $color-white;
                }
                a {
                    font-family: $font-roboto;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    color: $color-white;
                    text-decoration: underline;
                }
            }
        }
    }

    &--style-1 {
        &::before {
            content: url("../../images/hero-section/shapes/shape-bg1.svg");
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.25;
            z-index: -1;
        }
        &::after {
            content: url("../../images/hero-section/shapes/shape-bg2.svg");
            position: absolute;
            right: 0;
            bottom: -262px;
            opacity: 0.25;
            z-index: -1;
        }
    }

    &--style-2 { 
        padding: 215px 0 286px 0;
        &:before {
            content: url("../../images/hero-section/BG-home-2.png");
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: -1;
            text-align: center;
        }
        .rt-hero-section-content-wrapper {
            .section-text-content {
                .section-name {
                    color: $color-shade1;
                    margin-bottom: 4px;
                }
                .section-heading {
                    font-family: $font-lato;
                    font-weight: 600;
                    color: $color-title;
                }
                .para-text {
                    font-weight: 400;
                    color: #6B707F;
                }
            }
        }

        .search-text {
            p {
                color: $color-title;
                span {
                    color: $color-title;
                }
                a {
                    color: $color-title;
                }
            }
        }
        .shapes {
            ul {
                li {
                    position: absolute;
                    z-index: -1;
                    &:nth-child(1) {
                        left: 0;
                        top: 0;
                    }
                    &:nth-child(2) {
                        right: 0;
                        bottom: 32%;
                    }
                }
            }
        }
    }

    &--style-3 {
        background: #FFFAD1;
        padding-bottom: 303px;
        &::before {
            content: url("../../images/hero-section/BG-home-3.png");
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;
        }
        .rt-hero-section-content-wrapper {
            .section-text-content {
                .section-name {
                    color: $color-title;
                    margin-bottom: 4px;
                }
                .section-heading {
                    font-family: $font-lato;
                    font-weight: 600;
                    color: $color-title;
                }
                .para-text {
                    font-weight: 400;
                    color: #6B707F;
                }
            }
        }
        .search-text {
            p {
                color: $color-title;
                span {
                    color: $color-title;
                }
                a {
                    color: $color-title;
                }
            }
        }
    }
    &--style-4 {
        padding-top: 265px;
        padding-bottom: 147px;
        &::before {
            content: url("../../images/hero-section/BG-home-4.jpg");
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;
        }
        .rt-hero-section-content-wrapper {
            .section-text-content {
                .section-heading {
                    text-transform: initial;
                }
                .para-text {
                    font-weight: 300;
                    color: #EBEBEB;
                }
            }
        }
        .search-text {
            p {
                color: $color-white;
                span {
                    color: $color-white;
                }
                a {
                    color: $color-white;
                }
            }
        }
    }
    &--style-5 {
        background: #EBFFED;
        padding: 191px 0 168px 0;
        &::before {
            content: url("../../images/hero-section/page-banner-shape.png");
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;
        }
        .rt-hero-section-content-wrapper {
            .section-text-content {
                margin: 0;
                .section-heading {
                    font-family: $font-roboto;
                    font-weight: 600;
                    color: $color-title;
                    border-bottom: none;
                }
                .para-text {
                    font-weight: 400;
                    color: $color-title;
                    margin: 0;
                }
            }
        }
        .search-text {
            p {
                color: $color-title;
                span {
                    color: $color-title;
                }
                a {
                    color: $color-title;
                }
            }
        }
    }
    &--style-6 {
        background: #EBEDFF;
        padding: 205px 0 190px 0;
        &::before {
            content: url("../../images/hero-section/page-banner-shape.png");
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
        bottom: 0;
            width: 100%;
            z-index: -1;
        }
        .rt-hero-section-content-wrapper {
            .section-text-content {
                margin: 0;
                .section-heading {
                    font-family: $font-roboto;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 47px;
                    color: $color-title;
                    border-bottom: none;
                }
            }
        }
    }
    &--style-7 {
        background: #FFFBEB;
        padding: 205px 0 130px 0;
        &::before {
            content: url("../../images/hero-section/page-banner-shape.png");
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;
        }
        .rt-hero-section-content-wrapper {
            .searchbox-container {
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
            }
            .search-text {
                p, span, a {
                    color: $color-title;
                }
            }
        }
    }
}