.best-online-documentation-section {
    .best-documentation-info-wrapper {
        border: 1px solid #CDCDCD;
        padding: 60px 65px;
        border-radius: 10px;
        row-gap: 30px;
        column-gap: 60px;
        .rt-card {
            &:nth-child(1) {
                .icon {
                    border: 1px solid #F84436;
                }
                &:hover {
                    .icon {
                        border: 1px solid transparent;
                    }
                }
            }
            &:nth-child(2) {
                .icon {
                    border: 1px solid #F47D0E;
                }
                &:hover {
                    .icon {
                        border: 1px solid transparent;
                    }
                }
            }
            &:nth-child(3) {
                .icon {
                    border: 1px solid #6836F8;
                }
                &:hover {
                    .icon {
                        border: 1px solid transparent;
                    }
                }
            }
            &:nth-child(4) {
                .icon {
                    border: 1px solid #C82CFF;
                }
                &:hover {
                    .icon {
                        border: 1px solid transparent;
                    }
                }
            }
            &:nth-child(5) {
                .icon {
                    border: 1px solid #F47D0E;
                }
                &:hover {
                    .icon {
                        border: 1px solid transparent;
                    }
                }
            }
            &:nth-child(6) {
                .icon {
                    border: 1px solid #3678F8;
                }
                &:hover {
                    .icon {
                        border: 1px solid transparent;
                    }
                }
            }
        }
    }   
    .shapes {
        img {
            position: absolute;
            left: 83px;
            bottom: 0;
            display: none;
            @include media-only ('lg', min) {
                display: block;
            }
            @include media-from-to(1200px, min, 1300px, max) {
                z-index: -1;
            }
        }
    }
    &--style-2 {
        padding: 100px 0;
        margin-bottom: 120px;
        .section-text-content {
            .section-heading {
                border-bottom: none;
                padding: 0;
            }
        }
        .theme-logo-wrapper {
            padding: 0 45px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 1000px;
            height: 100%;
            background: #FCF9FF;
            border-radius: 50px;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -1;
        }
        .shapes {
            display: none;
        }
    }
}