.testimonial-section {
    overflow: hidden;
    &--style-2 {
        padding-top: 28px;
        background: #fafafa;
        .testimonial-img-area {
            position: relative;
            z-index: 1;
            img {
                max-width: unset;
            }
            &::before {
                content: "";
                position: absolute;
                width: 560px;
                height: 560px;
                background: #FFE7E7;
                border-radius: 50%;
                z-index: -1;
                margin: 0 auto;
                display: inline-block;
                left: 0;
                right: 0;
                top: 175px;
            }
        }
        .slider-navigation-btn-wrapper {
            .swiper-arrow {
                width: 40px;
                height: 40px;
                background: #F1F1F1;
                border: none;
                &:hover {
                    background: #F8851C;
                    svg {
                        fill:  $color-white;
                    }
                }
            }
            .prev {
                top: 95%;
                left: 43%;
            }
            .next {
                top: 95%;
                right: 43%;
            }
        }
    }
}