.best-online-documentation-section {
    .best-documentation-info-wrapper {
        border: 1px solid #CDCDCD;
        padding: 60px 65px;
        border-radius: 10px;
        row-gap: 30px;
        column-gap: 60px;
        .rt-card {
            &:nth-child(1) {
                .icon {
                    border: 1px solid #F84436;
                }
                &:hover {
                    .icon {
                        border: 1px solid transparent;
                    }
                }
            }
            &:nth-child(2) {
                .icon {
                    border: 1px solid #F47D0E;
                }
                &:hover {
                    .icon {
                        border: 1px solid transparent;
                    }
                }
            }
            &:nth-child(3) {
                .icon {
                    border: 1px solid #6836F8;
                }
                &:hover {
                    .icon {
                        border: 1px solid transparent;
                    }
                }
            }
            &:nth-child(4) {
                .icon {
                    border: 1px solid #C82CFF;
                }
                &:hover {
                    .icon {
                        border: 1px solid transparent;
                    }
                }
            }
            &:nth-child(5) {
                .icon {
                    border: 1px solid #F47D0E;
                }
                &:hover {
                    .icon {
                        border: 1px solid transparent;
                    }
                }
            }
            &:nth-child(6) {
                .icon {
                    border: 1px solid #3678F8;
                }
                &:hover {
                    .icon {
                        border: 1px solid transparent;
                    }
                }
            }
        }
    }   
    .shapes {
        img {
            position: absolute;
            left: 83px;
            bottom: 0;
            display: none;
            @include media-only ('lg', min) {
                display: block;
            }
            @include media-from-to(1200px, min, 1300px, max) {
                z-index: -1;
            }
        }
    }
    &--style-2 {
        padding: 100px 0;
        margin-bottom: 120px;
        .section-text-content {
            .section-heading {
                border-bottom: none;
                padding: 0;
            }
        }
        .theme-logo-wrapper {
            padding: 0 45px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 1000px;
            height: 100%;
            background: #FCF9FF;
            border-radius: 50px;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -1;
        }
        .shapes {
            display: none;
        }
    }
    &--style-3 { 
        .best-online-doc-forum-area {
            background: #FFFFFF;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            padding: 50px;
            .title {
                font-family: $font-roboto;
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                color: $color-title;
                margin-bottom: 20px;
            }
            .forum-form {
                margin-bottom: 60px;
                form {
                    .input-area {
                        margin-bottom: 20px;
                        input {
                            border: 1px solid #CACACA;
                            border-radius: 5px;
                            width: 100%;
                            padding: 20px;
        
                            font-family: $font-roboto;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 18px;
                            color: #9B9B9B;
                            &::placeholder {
                                color: #9B9B9B;
                            }
                        }
                        textarea {
                            border: 1px solid #CACACA;
                            border-radius: 5px;
                            width: 100%;
        
                            font-family: $font-roboto;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 18px;
                            color: #9B9B9B;
                            padding: 20px;
                            &::placeholder {
                                color: #9B9B9B;
                            }
                        }
                    }
                    .category-selector {
                        margin-bottom: 20px;
                        .nice-select {
                            border: 1px solid #CACACA;
                            width: 100%;
                            height: 60px;
                            padding: 10px 20px;
                            &::after {
                                right: 23px;
                            }
                        }
                    } 
                    .form-btn {
                        a {
                            background: #8A58F3;
                            border-radius: 500px;
                            color: $color-white;
                            padding: 14px 25px;
    
                            font-family: $font-roboto;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }
                }
            }
            .contact-area {
                .contact-info-wrapper {
                    .contact-info {
                        gap: 10px;
                        margin-bottom: 10px;
                        a, p {
                            font-family: $font-roboto;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 30px;
                            color: $color-title;

                        }
                    }
                }
            }
        }
        .best-documentation-info-wrapper {
            border: none;
            padding: 0;
            .section-text-content {
                margin-bottom: 25px;
                width: 597px;
                .section-heading {
                    border-bottom: 0;
                    text-align: left;
                    padding: 0;
                    margin-bottom: 16px;
                    font-size: 40px;
                    line-height: 55px;
                }
                .para-text {

                }
            }
        }
    }
    
}