@font-face {
  font-family: 'rt-quiklearn';
  src: url('../font/rt-quiklearn.eot?30094341');
  src: url('../font/rt-quiklearn.eot?30094341#iefix') format('embedded-opentype'),
       url('../font/rt-quiklearn.woff2?30094341') format('woff2'),
       url('../font/rt-quiklearn.woff?30094341') format('woff'),
       url('../font/rt-quiklearn.ttf?30094341') format('truetype'),
       url('../font/rt-quiklearn.svg?30094341#rt-quiklearn') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'rt-quiklearn';
    src: url('../font/rt-quiklearn.svg?30094341#rt-quiklearn') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "rt-quiklearn";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-rt-quiklearn-message:before { content: '\e800'; } /* '' */
.icon-rt-quiklearn-note:before { content: '\e801'; } /* '' */
.icon-rt-quiklearn-phone:before { content: '\e802'; } /* '' */
.icon-rt-quiklearn-photography:before { content: '\e803'; } /* '' */
.icon-rt-quiklearn-play-icon:before { content: '\e804'; } /* '' */
.icon-rt-quiklearn-quiz:before { content: '\e805'; } /* '' */
.icon-rt-quiklearn-quotation:before { content: '\e806'; } /* '' */
.icon-rt-quiklearn-quotation-fill:before { content: '\e807'; } /* '' */
.icon-rt-quiklearn-rating-fill:before { content: '\e808'; } /* '' */
.icon-rt-quiklearn-review:before { content: '\e809'; } /* '' */
.icon-rt-quiklearn-right-arrow:before { content: '\e80a'; } /* '' */
.icon-rt-quiklearn-science:before { content: '\e80b'; } /* '' */
.icon-rt-quiklearn-search:before { content: '\e80c'; } /* '' */
.icon-rt-quiklearn-share:before { content: '\e80d'; } /* '' */
.icon-rt-quiklearn-smart-lms:before { content: '\e80e'; } /* '' */
.icon-rt-quiklearn-telephone:before { content: '\e80f'; } /* '' */
.icon-rt-quiklearn-thunder:before { content: '\e810'; } /* '' */
.icon-rt-quiklearn-tick-mark:before { content: '\e811'; } /* '' */
.icon-rt-quiklearn-top-course:before { content: '\e812'; } /* '' */
.icon-rt-quiklearn-user:before { content: '\e813'; } /* '' */
.icon-rt-quiklearn-video-editing:before { content: '\e814'; } /* '' */
.icon-rt-quiklearn-achievement:before { content: '\e815'; } /* '' */
.icon-rt-quiklearn-access:before { content: '\e816'; } /* '' */
.icon-rt-quiklearn-admin:before { content: '\e817'; } /* '' */
.icon-rt-quiklearn-angle-down:before { content: '\e818'; } /* '' */
.icon-rt-quiklearn-angle-left:before { content: '\e819'; } /* '' */
.icon-rt-quiklearn-angle-right:before { content: '\e81a'; } /* '' */
.icon-rt-quiklearn-angle-up:before { content: '\e81b'; } /* '' */
.icon-rt-quiklearn-award:before { content: '\e81c'; } /* '' */
.icon-rt-quiklearn-award-2:before { content: '\e81d'; } /* '' */
.icon-rt-quiklearn-badge:before { content: '\e81e'; } /* '' */
.icon-rt-quiklearn-book:before { content: '\e81f'; } /* '' */
.icon-rt-quiklearn-bulb:before { content: '\e820'; } /* '' */
.icon-rt-quiklearn-bulb-2:before { content: '\e821'; } /* '' */
.icon-rt-quiklearn-calendar:before { content: '\e822'; } /* '' */
.icon-rt-quiklearn-career:before { content: '\e823'; } /* '' */
.icon-rt-quiklearn-certificate:before { content: '\e824'; } /* '' */
.icon-rt-quiklearn-circle-play:before { content: '\e825'; } /* '' */
.icon-rt-quiklearn-clock:before { content: '\e826'; } /* '' */
.icon-rt-quiklearn-coading:before { content: '\e827'; } /* '' */
.icon-rt-quiklearn-course:before { content: '\e828'; } /* '' */
.icon-rt-quiklearn-customize:before { content: '\e829'; } /* '' */
.icon-rt-quiklearn-dashboard:before { content: '\e82a'; } /* '' */
.icon-rt-quiklearn-development:before { content: '\e82b'; } /* '' */
.icon-rt-quiklearn-finance:before { content: '\e82c'; } /* '' */
.icon-rt-quiklearn-finance-2:before { content: '\e82d'; } /* '' */
.icon-rt-quiklearn-graphic-design:before { content: '\e82e'; } /* '' */
.icon-rt-quiklearn-grid:before { content: '\e82f'; } /* '' */
.icon-rt-quiklearn-heart:before { content: '\e830'; } /* '' */
.icon-rt-quiklearn-language:before { content: '\e831'; } /* '' */
.icon-rt-quiklearn-learner:before { content: '\e832'; } /* '' */
.icon-rt-quiklearn-left-arrow:before { content: '\e833'; } /* '' */
.icon-rt-quiklearn-level:before { content: '\e834'; } /* '' */
.icon-rt-quiklearn-life-style:before { content: '\e835'; } /* '' */
.icon-rt-quiklearn-lifestyle-2:before { content: '\e836'; } /* '' */
.icon-rt-quiklearn-list:before { content: '\e837'; } /* '' */
.icon-rt-quiklearn-location:before { content: '\e838'; } /* '' */
.icon-rt-quiklearn-lock:before { content: '\e839'; } /* '' */
.icon-rt-quiklearn-marketing:before { content: '\e83a'; } /* '' */
